.hero{
    background-image: url("../assets/hero-image.png");
    width: 100%;
    height: 546px;
}


.hero-message{
    float: right;
    width: 608px;
    height: 557px;
    text-align: left;
    text-indent: 1em;
    margin-right: 0;
    background-color: rgba(211, 222, 211, 0.3);
}

.hero-message h4{
    text-align: center;
}

.hero-para{
    text-align: center;
    width: 469px;
    height: 124px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow{
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid brown;
    margin-left: auto;
    bottom: 30px;
}

.arrow-leg{
    height: 100px;
    width: 200px;
    background-color: brown;
    margin-top: 90px;
    margin-left: auto;
    z-index: 1;
    margin-right: 100px;
}